<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f1f1f1;
            font-family: Arial, sans-serif;
        }

        .container {
            max-width: 400px;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            margin-top: 0;
            text-align: center;
            color: #333;
        }

        form {
            margin-top: 20px;
        }

        label {
            display: block;
            margin-bottom: 8px;
            color: #333;
        }

        .password-field {
            position: relative;
        }

        .password-field input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            box-sizing: border-box;
        }

        .password-toggle {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            cursor: pointer;
            width: 20px;
            height: 20px;
        }

        input[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color: #0C8A7B;
            color: #fff;
            border: none;
            border-radius: 4px;
            font-size: 16px;
            cursor: pointer;
            margin-top: 10px;
        }

        input[type="submit"]:hover {
            background-color: #096D5B;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Reset Password for <%= email %>
        </h1>
        <form action="" method="post">
            <label for="new_password">New Password</label>
            <div class="password-field">
                <input type="password" name="new_password" id="new_password" style="width: calc(100% - 40px);">
                <img class="password-toggle" src='http://52.66.240.18:3000/eye-open.png' alt="Show Password"
                    onclick="togglePasswordVisibility('new_password')">
            </div>
            <br>
            <label for="confirm_password">Confirm Password</label>
            <div class="password-field">
                <input type="password" name="confirm_password" id="confirm_password" style="width: calc(100% - 40px);">
                <img class="password-toggle" src='http://52.66.240.18:3000/eye-open.png' alt="Show Password"
                    onclick="togglePasswordVisibility('confirm_password')">
            </div>
            <br>
            <input type="submit" value="Reset Password" style="margin-top: 10px;">
        </form>
    </div>

    <script>
        function togglePasswordVisibility(fieldId) {
            const field = document.getElementById(fieldId);
            if (field.getAttribute('type') === 'password') {
                field.setAttribute('type', 'text');
            } else {
                field.setAttribute('type', 'password');
            }
        }
    </script>
</body>

</html>